@page "/words/details"
@using Microsoft.EntityFrameworkCore
@using MySpecialVocabularyForIT.Components.Models
@using MySpecialVocabularyForIT.Data
@inject IDbContextFactory<MySpecialVocabularyForIT.Data.MySpecialVocabularyForITContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<style>
    /*for buttons colors*/
    .custom-purple-button.btn-primary {
        background-color: #8A2BE2;
        border-color: #4B0082;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
        color: white;
    }

        .custom-purple-button.btn-primary:hover {
            background-color: #BA55D3;
            border-color: darkorchid;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
        }

    .custom-purple-button.disabled {
        background-color: #D3D3D3;
        border-color: #D3D3D3;
        color: #6c757d;
    }

    .form-group-margin-top {
        margin-top: 15px;
    }
</style>

<h1>📖Details</h1>

<div>
    @* <h2>Word</h2> *@
    <hr />
    @if (word is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-3 blue-label">Term in English:</dt>
            <dd class="col-sm-9">@word.word_en</dd>
            <dt class="col-sm-3 blue-label">Translation into Russian:</dt>
            <dd class="col-sm-9">@word.word_rus</dd>
            <dt class="col-sm-3 blue-label">Use explication:</dt>
            <dd class="col-sm-9">@word.word_use_case</dd>
@*             <dt class="col-sm-3 blue-label">photo</dt>
            <dd class="col-sm-9">@word.photo</dd> *@
        </dl>
        <div>
            <div style="display:flex;">
                <div>
                    <a href="@($"/words/edit?word_id={word.word_id}")" class="btn btn-primary custom-purple-button">Edit</a>
                    <a href="@($"/words")" class="btn btn-primary custom-purple-button">Back to List</a>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private Word? word;

    [SupplyParameterFromQuery]
    private int word_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        word = await context.Words.FirstOrDefaultAsync(m => m.word_id == word_id);

        if (word is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
